.nav-panel {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 50px;
  z-index: 1000;
  /* TODO: use theme */
  background-color: lightgray;
}

button {
  margin: 5px;
}

.btn-container {
  float: right;
}
