<footer class="footer">
  <strong>Terms & Conditions</strong>
  <ol>
    <li>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae odio mi.
      Donec id dictum risus, vitae aliquam mi. Maecenas eu nunc maximus, dictum
      quam at, ultrices ante. Vestibulum vehicula.
    </li>
    <li>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla suscipit
      dapibus augue. Nulla facilisi. Cras ac congue erat. Vestibulum ante.
    </li>
    <li>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit
      amet turpis sed est pulvinar gravida. Nunc placerat elit eu tortor
      pretium, sit amet maximus elit tincidunt. Cras risus lectus, ultrices in
      commodo eu, gravida.
    </li>
    <li>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae odio mi.
      Donec id dictum risus, vitae aliquam mi. Maecenas eu nunc maximus, dictum
      quam at, ultrices ante. Vestibulum vehicula.
    </li>
    <li>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis ex id
      erat lacinia pulvinar et non ante. Quisque fringilla, enim volutpat
      commodo blandit, massa urna tincidunt ligula, vel lobortis sapien risus
      quis enim. Maecenas tempor lectus sit amet lectus consequat, et accumsan
      arcu congue. Sed risus est, rhoncus ac iaculis id, vehicula sit amet diam.
      Maecenas nec placerat magna. Aenean rhoncus nulla neque, et sollicitudin
      ligula pharetra vitae. Phasellus tristique, dui eu pharetra commodo, urna
      nibh tempus nulla, et commodo augue turpis in lectus. Pellentesque in
      rhoncus eros, sed egestas velit. In sit amet iaculis lectus. Mauris
      volutpat turpis nec leo imperdiet, eu facilisis diam pharetra.
    </li>
  </ol>
</footer>
