// TODO: Figure out themes...
// https://material.angular.io/guide/theming-your-components

// .active-plan {
//   border-left: 5px solid mat.get-color-from-palette($primary-palette, 'default');
// }

.info-icon {
  opacity: 0.5;
}

.l-btn--stand-alone {
  margin-top: 3em;
  display: block;
}