/* Add application styles & imports to this file! */

/*
src: https://stackblitz.com/edit/angular-ivy-efufzv
theming tutorial:
- https://indepth.dev/tutorials/angular/angular-material-theming-system-complete-guide
- https://levelup.gitconnected.com/defining-your-own-theme-in-angular-material-8a4a6ffad400
*/

// @use 'src/themes/accordion-theme' as accordion;
@use '@angular/material' as mat;
@import './themes/_accordion-theme.scss';
@include mat.core();
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

$my-palette: mat.define-palette(mat.$indigo-palette);
$my-primary: mat.define-palette(mat.$indigo-palette);
$my-accent: mat.define-palette(mat.$indigo-palette);

mat-form-field {
  margin: 10px;
}

h1,
h2,
h3 {
  margin: 0;
}

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
    ),
    typography:
      mat.define-typography-config(
        $font-family: sans-serif,
      ),
  )
);

// FIX ME!
@include theme($my-theme);
